<h1 class="px-5 py-4 m-0 fw-bold">Survey</h1>

<div class="container px-5">
  <div class="card">
    <div class="card-header bg-white p-4">
      <h4 class="m-0">Customer Survey List</h4>

    </div>

    <div class="card-body d-flex justify-content-center">

      <!-- CONTENT -->
      <table class="table">
            <thead *ngIf="!isLoading; else loading" class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Transaction ID</th>
                    <th scope="col">Transaction Date</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <div *ngIf="!hasData()">No Data Found</div>
            <tbody *ngIf="hasData()" >
                <tr *ngFor="let loan of listLoan let i = index">
                    <th>{{i+1}}</th>
                    <td>{{loan.type}}</td>
                    <td>{{loan.maxLoan | currency:"IDR "}}</td>
                    <td>
                        <button (click)="fillSurvey()">Survey</button>
                        <button (click)="detailsSurvey()">Details</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading>
            <div class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only"></span>
            </div>
        </ng-template>
  


      <!-- END OF CONTENT -->
  </div>



</div>
