<h1 class="px-5 py-4 m-0 fw-bold">Dashboard</h1>

<div class="container px-5">
  <div class="card">
    <!-- <div class="card-header bg-white p-4">
      <h5 class="m-0">Home Page</h5>
    </div> -->
    <div class="card-body background-dashboard">
      <!-- CONTENT -->
      <div class="row my-5">
        <div class="col-xl-6 col-lg-12">
          <div
            class="w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <img
              class="img-fluid"
              src="/assets/illustrator/Illustrasi.svg"
              alt=""
            />
          </div>
        </div>
        <div class="col-xl-6 col-lg-12">
          <div
            class="p-4 w-100 h-100 d-flex flex-column justify-content-center align-items-center"
          >
            <h2
              class="text-primary text-uppercase fw-bold text-center mb-5 w-100"
            >
              welcome to loan <br />
              operating system <br />
              of enigmon
            </h2>
            <div class="text-center w-100">
              <button class="btn btn-lg btn-primary text-white fw-bold">
                LOAN NOW
              </button>
            </div>
          </div>
        </div>
        <!-- END OF CONTENT -->
      </div>
    </div>
  </div>
</div>
