<div class="login vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow-lg">
        <div class="card-body">
            <h5 class="card-title text-center text-primary fw-bold mb-3">Nama Feature</h5>
            <img
                src="https://www.danamon.co.id/-/media/ICON-DCWCOID/LOGO-HEADER/MUFG-endorsment-Line-01.png?h=65&la=id&mh=65&w=260&hash=EF3844C2BC26B0159F9311207D5466122464C4A5"
                class="mb-3"
            >
            <div class="input-group mb-3">
                <span
                    class="input-group-text"
                    id="basic-addon1"
                >
                    👤
                </span>
                <input
                    type="number"
                    class="form-control"
                    placeholder="NIK"
                >
            </div>
            <div class="input-group mb-3">
                <span
                    class="input-group-text"
                    id="basic-addon1"
                >
                    🔑
                </span>
                <input
                    type="password"
                    class="form-control"
                    placeholder="Kata Sandi"
                >
            </div>
            <div class="mb-2">
                <a
                    href
                    class="link-primary"
                >
                    Lupa Password?
                </a>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary text-white">Login</button>
            </div>
        </div>
    </div>
</div>
