<div class="vh-100">
  <nav class="navbar shadow-sm bg-light p-0" style="height: 10%">
    <div class="container h-100 w-100 d-flex justify-content-between">
      <a class="navbar-brand h-100">
        <img
          class="img-fluid w-100 h-75"
          src="https://files.klob.id/public/mco01/kuibbwwu/Danamon_by_mufg.png"
        />
      </a>
      <div class="border border-top-0 border-bottom-0 border-end-0">
        <button
          type="button"
          class="btn btn-white text-primary"
          routerLink="/login"
        >
          {{ customerName }}
        </button>
      </div>
    </div>
  </nav>

  <div class="sidebar shadow-sm overflow-auto" style="height: 90%">
    <div class="d-flex flex-column justify-content-between">
      <div class="mb-5">
        <div class="d-flex flex-column align-items-center">
          <div
            class="text-center border border-top-0 border-start-0 border-end-0 w-75 px-3 py-3 mb-3"
          >
            <div class="d-flex justify-content-center w-100">
              <img
                class="img-fluid rounded-circle mb-3 w-50"
                src="https://st4.depositphotos.com/11634452/21365/v/600/depositphotos_213659488-stock-illustration-picture-profile-icon-human-or.jpg"
              />
            </div>
            <div class="text-primary" style="font-weight: bold;">{{customerName}}</div>
            <div class="text-primary">{{roleForView.toString() | titlecase}}</div>
          </div>
        </div>
        <div class="d-flex flex-column">
          <a
            class="btn text-start px-3 mx-4 my-2"
            routerLink="home"
            routerLinkActive="btn-primary text-white"
          >
            <i class="fa fa-landmark fa-lg me-2"></i> Dashboard</a
          >
          <a
            class="btn text-start px-3 mx-4 my-2"
          >
            <i class="fa fa-user fa-lg me-2"></i> Prospect</a
          >
          <a
            class="btn text-start px-3 mx-4 my-2"
            data-bs-toggle="collapse"
            data-bs-target="#collapseCreditSubmission"
          >
            <i class="fa fa-hand-holding-dollar fa-lg me-2"></i>
            Credit Submission
            <i class="ms-2 fa-solid fa-chevron-down"></i>
          </a>
          <div class="collapse" id="collapseCreditSubmission">
            <div class="ms-3">
              <a
                class="btn text-start px-3 mx-4 my-2 collapse"
              >
                <i class="fa fa-database fa-lg me-2"></i>
                Customer Data
              </a>
              <a class="btn text-start px-3 mx-4 my-2 collapse">
                <i class="fa fa-keyboard fa-lg me-2"></i>
                New Submission
              </a>
              <a class="btn text-start px-3 mx-4 my-2 collapse">
                <i class="fas fa-file fa-lg me-2"></i>
                Review
              </a>
            </div>
          </div>
          <a
            class="btn text-start px-3 mx-4 my-2"
            (click)="surveyRoute()"
          >
            <i class="fa fa-chart-pie fa-lg me-2"></i>
            Survey
          </a>

          <a class="btn text-start px-3 mx-4 my-2">
            <i class="fa fa-thumbs-up fa-lg me-2"></i> Approval</a
          >
          <a class="btn text-start px-3 mx-4 my-2">
            <i class="fa fa-hand-holding-dollar fa-lg me-2"></i> Disbursement</a
          >
        </div>
      </div>
      <a class="btn btn-primary text-white px-3 mx-4 my-5" (click)="logOut()"
        >Logout</a
      >
    </div>
  </div>

  <div class="content overflow-auto" style="height: 90%">
    <router-outlet></router-outlet>
  </div>
</div>
