<nav class="navbar bg-light">
    <div class="container px-5 w-100 d-flex justify-content-between">
        <a class="navbar-brand">
            <a
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions"
                aria-controls="offcanvasWithBothOptions"
            >
                <img
                    width="150px"
                    src="https://files.klob.id/public/mco01/kuibbwwu/Danamon_by_mufg.png"
                >
            </a>
        </a>
        <button
            type="button"
            class="btn btn-primary text-white"
            routerLink="/login"
        >
            Login
        </button>
    </div>
</nav>

<div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    tabindex="-1"
    id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel"
>
    <div class="offcanvas-header">
        <!-- <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5> -->
        <!-- <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button> -->
        <div class="h-100 w-100 text-center">
            <img src="https://www.danamon.co.id/-/media/ICON-DCWCOID/LOGO-HEADER/MUFG-endorsment-Line-01.png?h=65&la=id&mh=65&w=260&hash=EF3844C2BC26B0159F9311207D5466122464C4A5">
        </div>
    </div>
    <div class="offcanvas-body">
        <div class="d-grid gap-2">
            <button
                class="btn btn-primary text-white"
                type="button"
            >
                Prospek
            </button>
            <button
                class="btn btn-primary text-white"
                type="button"
            >
                Pengajuan
            </button>
            <button
                class="btn btn-primary text-white"
                type="button"
            >
                Survey
            </button>
            <button
                class="btn btn-primary text-white"
                type="button"
            >
                Persetujuan
            </button>
            <button
                class="btn btn-primary text-white"
                type="button"
            >
                Pencairan
            </button>
        </div>
    </div>
</div>
