.content {
  background-color: #f7911d05;
}

.navbar {
  z-index: 999;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 300px;
  background-color: #ffff;
  /* position: fixed;*/
  position: absolute;
  /* height: 100%; */
  overflow: scroll;
}

.sidebar a {
  display: block;
  color: rgba(0, 0, 0, 0.816);
  padding: 5px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #f7931d;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #f7911d;
  color: white;
}

div.content {
  margin-left: 300px;
  /* padding: 1px 16px; */
  /* height: 1000px; */
}

@media screen and (max-width: 630px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
