<div class="container px-5">
  <div class="card">
    <div class="card-header bg-white p-4">
      <h5 class="m-0">New Credit Submission</h5>
    </div>
    <div class="card-body d-flex justify-content-center">
      <!-- CONTENT -->
      <div class="row">
        <div class="col">
          <div class="mb-2">
            <label for class="form-label"> Nama </label>
            <input type="text" class="form-control" placeholder />
            <small id="helpId" class="form-text text-muted"> Help text </small>
          </div>
          <div class="mb-2">
            <label for class="form-label"> NIK </label>
            <input type="text" class="form-control" placeholder />
            <small id="helpId" class="form-text text-muted"> Help text </small>
          </div>
          <button type="submit" class="btn btn-primary text-white me-2">
            Submit
          </button>
          <button type="submit" class="btn btn-secondary text-white me-2">
            Cancel
          </button>
        </div>
      </div>
      <!-- END OF CONTENT -->
    </div>
  </div>
</div>
