<div class="container px-5">
  <div class="card my-4">
    <div class="d-flex justify-content-center">
      <div class="card w-50 mx-5 my-4">
        <div class="card-header bg-white py-0">
          <div class="h2 fw-bold my-2">Contoh Form</div>
        </div>
        <div class="card-body">
          <div class="mb-2">
            <label for class="form-label"> Nama </label>
            <input type="text" class="form-control" placeholder />
            <small id="helpId" class="form-text text-muted"> Help text </small>
          </div>
          <div class="mb-2">
            <label for class="form-label"> NIK </label>
            <input type="text" class="form-control" placeholder />
            <small id="helpId" class="form-text text-muted"> Help text </small>
          </div>
          <button type="submit" class="btn btn-primary text-white me-2">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
