<div class="login vh-100 d-flex justify-content-center align-items-center">
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col me-2 d-flex align-items-center">
          <div class="">
            <h1 class="card-title text-center text-primary fw-bold mb-4">
              Loan Originating System
            </h1>
            <!-- <div class="text-center w-100 mb-4">
            <img
              src="https://www.danamon.co.id/-/media/ICON-DCWCOID/LOGO-HEADER/MUFG-endorsment-Line-01.png?h=65&la=id&mh=65&w=260&hash=EF3844C2BC26B0159F9311207D5466122464C4A5"
            />
          </div> -->
          <form [formGroup]="loginForm" method="post">
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"> 👤 </span>
              <input type="number" name="nik" class="form-control" placeholder="NIK/NIP" id="nik" formControlName="nik" maxlength="16" minlength="8"/>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"> 🔑 </span>
              <input name="password" [type]="showPassword ? 'text' : 'password'" class="form-control pwd-control" placeholder="Password" id="password-field" formControlName="password"
              />
              <i style="vertical-align: bottom" alt="show" class="far fa-eye eye-show" (click)="showPassword = !showPassword" [class.hide]="!showPassword"></i>
              <i style="vertical-align: bottom" alt="hide" class="far fa-eye-slash eye-hide" (click)="showPassword = !showPassword" [class.hide]="showPassword"></i>
            </div>
            <div class="mb-3">
              <a routerLink="/" class="link-primary fw-bold">Lupa Password?</a>
            </div>
            <div class="d-grid gap-2">
              <button
                type="submit"
                class="btn btn-primary text-white"
                (click)="login()"
              >
                Login
              </button>
            </div>
          </form>
          </div>
        </div>
        <div class="col">
          <div
            class="w-100 h-100 d-flex align-items-center justify-content-center"
          >
            <img
              class="px-1 py-2"
              src="/assets/illustrator/landing-page-illustrator.svg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
