/* You can add global styles to this file, and also import other style files */
.border-top-primary {
  border-top: 2px solid #f7911dc5;
}

.border-bottom-primary {
  border-bottom: 2px solid #f7911dc5;
}

.border-left-primary {
  border-left: 2px solid #f7911dc5;
}

.border-right-primary {
  border-right: 2px solid #f7911dc5;
}
